$container-width-lg: 76%;
$container-width-md: 90%;
$container-width-sm: 94%;
$transition: all 400ms ease;

// COLORS USED
$main-color: #0C7FCF;
$secondary-color: #0D67A6;
$black-color: #000000;
$border-color: #F1F1F1;
$white-color: #FFFFFF;
$gray-color:#f0f0f0;

// 